version: "3.8"
services:
  app:
    image: node:22-alpine
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "5173:5173"
    # This is the line that actually starts the website:
    command: npm run dev -- --host
